@charset "utf-8";
/* Tablet Css Document that will be used for devices with min screen width of 481 - 800 px */

/* Style the document body */
/* body
{
    background-color: rgb(72, 255, 0);
} */

body
{
    background-image: url("../images/bkgd.jpg");
    background-position: top center;
    background-repeat: no-repeat;
    background-size: cover;
    background-attachment: fixed;
}

#container{
    width: 90%; 

}

/* style image containers */
.holding-container
{
    flex-direction: column;
}